{{!-- Nav Logo --}}
<div class="navbar-brand">
  <a class="navbar-item" href="{{@site.url}}" style="font-weight:bold;">
    {{#if @site.logo}}
        <img src="{{@site.logo}}" alt="{{@site.title}}" />
    {{else}}
      {{@site.title}}
    {{/if}}
  </a>
  <span class="navbar-burger burger" data-target="navMenu">
    <span></span>
    <span></span>
    <span></span>
  </span>
</div>

{{!-- Nav - partials/navigation.hbs --}}

<div id="navMenu" class="navbar-menu">
  <div class="navbar-end">
    {{!-- Loop through the navigation items --}}
    {{#foreach navigation}}
    <a href="{{url absolute="true"}}" class="navbar-item nav-{{slug}}{{#if current}}is-active{{/if}}">{{label}}</a>
    {{/foreach}}
  </div>
</div>
