<div class="fleft">
    {{#if @site.logo}}
        <a href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
    {{else}}
        <a href="{{@site.url}}">{{@site.title}}</a>
    {{/if}} <br />
    Copyright © 2018-2019 Benjamin 'Benno' Falkner <br />
    <a href="mailto:benno.falkner@gmail.com">Contact</a> | <a href="/impress/">Impressum</a> | <a href="/disclaimer/">Haftungsausschluss</a><br />
</div>
<div class="fright">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />
    Dieses Werk ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Namensnennung <br />
    Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.
</div>