{{!< default}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the post --}}
<!-- header area -->
{{#if feature_image}}
<header class="hero is-medium is-primary is-bold " style="background: url('{{img_url feature_image}}') center center; background-size:cover; ">
{{else}}
<header class="hero is-medium is-primary is-bold ">
{{/if}}
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{title}}</h1>
      <h2 class="subtitle">{{date format="MMMM D, YYYY"}}</h2>
      {{#if custom_excerpt}}
          <summary>{{custom_excerpt}}</summary>
      {{/if}}
    </div>
  </div>
</header>

<article class="section">
  <section class="content">
    {{content}}
  </section>
</article>


{{!-- Email subscribe form at the bottom of the page
{{#if @labs.subscribers}}
<section class="subscribe-form">
    <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
    <p>Get the latest posts delivered right to your inbox</p>
    {{subscribe_form placeholder="youremail@example.com"}}
</section>
{{/if}}
--}}

<section class="section">
  {{#foreach authors}}
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        {{#if profile_image}}
        <img src="{{profile_image}}" alt="Image {{name}}">
        {{/if}}
      </p>
    </figure>
    <div class="media-content">
        <div class="content">
          <p>
            <strong>{{name}}</strong> <small>{{location}}</small><br>
            {{#if bio}}
                <p>{{bio}}</p>
            {{else}}
                <p>Info is comming soon.</p>
            {{/if}}
            <a href="{{url}}">Read more</a>
          </p>
        </div>
    </div>
  </arcticle>
  {{/foreach}}
</section>

{{!--
<section class="post-full-comments">
    If you want to embed comments, this is a good place to do it!
</section>
--}}

{{!-- Presenter mode --}}
<script>
  var TIMEOUT = (typeof TIMEOUT === 'undefined') ? 5000 : TIMEOUT;
  var PREV = "{{#prev_post}}{{url}}{{/prev_post}}";
  var NEXT = "{{#next_post}}{{url}}{{/next_post}}";
  tr.presenter_mode(PREV,NEXT,TIMEOUT);
</script>
{{/post}}
