{{!< default}}
{{!-- Tag info --}}
{{#tag}}
<section class="hero small"
    {{#if feature_image}}
        style="background-image: url('{{img_url feature_image}}');"
    {{/if}}
>
    <div class="content">
        <header>
            <h1>{{name}}</h1>
                {{#if description}}
                    <h3>{{description}}</h3>
                {{else}}
                    <p>A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}</p>
                {{/if}}
        </header>
    </div>
</section>
{{/tag}}

{{!-- Posts --}}
<article>
    <h2>Neuigkeiten:</h2>
    <section class="posts">
        {{#foreach posts}}
            {{> post_small}}
        {{/foreach}}
    </section>
</article>

{{!-- Pagination --}}
{{pagination}}
