<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />
</head>
<body>
	<div class="error">
		<div class="error-message">
        	<h1>{{code}}</h1>
        	<p>{{message}}</p>
        	<a href="{{@site.url}}">Go to the front page →</a>
    	</div>
    	{{#if errorDetails}}
    	<div class="error-message">
        	<h3>Theme errors</h3>
        	<ul>
            {{#each errorDetails}}
                <li>
                    <em>{{{rule}}}</em>
                    {{#each failures}}
                        <p>Ref: {{ref}}</p>
                        <p>Message: {{message}}</p>
                    {{/each}}
                </li>
            {{/each}}
        	</ul>
    	</div>
    	{{/if}}
	</div>
</body>
</html>
