{{!< default}}
{{!-- Tag info --}}
{{#tag}}

<!-- header area -->
{{#if feature_image}}
<header class="hero is-medium is-primary is-bold " style="background: url('{{img_url feature_image}}') center center; background-size:cover; ">
{{else}}
<header class="hero is-medium is-primary is-bold ">
{{/if}}
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{name}}</h1>
      {{#if description}}
          <summary>{{description}}</summary>
      {{else}}
          <summary>A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}</summary>
      {{/if}}
    </div>
  </div>
</header>

{{/tag}}

{{!-- Posts --}}
{{!-- All Posts --}}
<article class="section">
  <div class="container">
  <div class="columns is-multiline is-mobile">
    {{#foreach posts}}
    <div class="column is-one-third">
      <div class="card">
        {{#if feature_image}}
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{img_url feature_image}}" alt="{{title}}">
          </figure>
        </div>
        {{/if}}

        {{!-- Content --}}
        <div class="card-content">
          <div class="media">
            <div class="media-content">

            </div>
          </div>
          <div class="content">
            <h1>{{title}}</h1>
            <small class="date">{{date format="MMMM D, YYYY"}}</small>

            {{excerpt words="33"}}
            <a href="{{url}}">Read more</a>
          </div>
        </div>
      </div>
    </div>
    {{/foreach}}
  </div>
  </div>
</article>
<article>

{{!-- Pagination --}}
{{pagination}}
